site_name: ""
docs_dir: content
site_url: null
repo_url: null
edit_uri: blob/main/content/
use_directory_urls: false
extra_css:
  - stylesheets/extra.css
theme:
  name: material
  font:
    text: Space Grotesk
    code: Monospace
    # To add custom stylesheet to _theme and acts as a build-directory path resolver
  custom_dir: dist/_theme
  logo_light: assets/images/logo-light.png
  logo_dark: assets/images/logo-dark.png
  footer_logo_light: assets/images/footer-logo-light.png
  footer_logo_dark: assets/images/footer-logo-dark.png
  cloud_security_alliance_logo_dark: assets/images/CSA_dark.png
  cloud_security_alliance_logo_light: assets/images/CSA_light.png
  hippa_compliant_logo_dark: assets/images/HC_dark.png
  hippa_compliant_logo_light: assets/images/HC_light.png
  favicon: assets/images/stakater_favicon.png

  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        name: Switch to system preference
        icon: material/brightness-auto
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: custom
      accent: custom
      toggle:
        name: Switch to light mode
        icon: material/brightness-7
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: custom
      accent: custom
      toggle:
        name: Switch to dark mode
        icon: material/brightness-3
  features:
    - content.code.copy
    - navigation.tracking
    - toc.follow
    - navigation.top

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  # - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - toc:
      permalink: "#"
      title: On this page
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
extra:
  analytics:
    provider: google
    property: G-TTH1YYW5TX
  consent:
    title: Cookie consent
    actions:
      - accept
      - reject
      - manage
    description: >-
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.
plugins:
  - search
  - glightbox

nav:
